
/* ========== Home ======== */

/* Card priincipal  */

.h-txt-prin{
    height: 270px;
}

/* Card secundaria */

.height-card-2{
    height: 740px;
}


.h-txt-sec{
    height: 407px;
}

/* Card secundaria */

.h-txt-ter{
    height: 100px;
}

@media (max-width: 1320px){

    .h-txt-prin{
        height: 270px;
    }

    .h-txt-sec{
        height: 407px;
    }
    
    
}

@media (max-width: 1290px){

    .h-txt-prin{
        height: 280px;
    }
    
}


@media (max-width: 1255px){

    .h-txt-prin{
        height: 298px;
    }

    .h-txt-sec{
        height: 394px;
    }
    
    
}

@media (max-width: 1200px){

    .h-txt-prin{
        height: 330px;
    }

    .h-txt-sec{
        height: 430px;
    }
    
    
}

@media (max-width: 1124px){

    .h-txt-prin{
        height: 354px;
    }

    .h-txt-sec{
        height: 446px;
    }
    
    
}

@media (max-width: 1100px){

    .h-txt-prin{
        height: 100%;
    }
    
    /* Card secundaria */
    
    .h-title-sec{
        height: 100%;
    }
    
    .h-txt-sec{
        height: 100%;
    }
    
    
}



/* ========== Seccion secundaria======== */

/* Card horizontal */

.card-horizontal{
    display: flex;
}

.card-horizontal img{  
    height: 150px;
}

.card-horizontal .info{
    padding-left: 24px;
}

@media (max-width: 1200px){
        
    .card-horizontal img{  
        height: 120px;
    }

}

@media (max-width: 1100px){
        
    .card-horizontal img{  
        height: 150px;
    }

}

@media (max-width: 600px){

    .card-horizontal{
        display: block;
    }

    .card-horizontal img{  
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 24px;
    }
    
    .card-horizontal .info{
        padding-left: 0px;
    }

}



/* ========== Card noticias ========== */


.card-noticias .title-filter .filter{
    padding-top: 0px;
    text-align: right;
}

.card-noticias .titulo-bloque{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

.card-noticias  .controls{
    display: inline-block;
    margin: 0px 0px 0px 20px !important;
}

.card-noticias  .controls{
    display: inline;
    margin: 0px 0px 20px 20px !important;
}




.card-noticias .title-filter input{
    font-weight: 600;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

.card-noticias hr{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.card-noticias .item-noticia{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
}

.card-noticias .item-noticia h4{
    padding: 0px;
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600 !important;
}


.overflow-ellipsis-1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    height: 68px;

}

.card-noticias .line-middle{
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}

.card-noticias .controls{
    text-align: left;
    padding: 0px;
    margin: 0px 0px 14px 0px;
}

.card-noticias .controls h6{
    display: inline-block;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.item-noticia img{
    height: auto !important;
    width: 100% !important;
}


@media (max-width: 992px){


    .overflow-ellipsis-1{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        height: 50px;

    }

    .card-noticias .title-filter .filter{
        padding-top: 0px;
    }
    


}

@media (max-width: 768px){

    .card-noticias .title-filter .filter{
        padding-top: 14px;
        padding-bottom: 14px;
        text-align: center;
    }


    .card-noticias .controls{
        text-align: right;
        padding: 0px;
        margin: 0px 0px 14px 0px;
    }


}



/* ========== Prime time========== */


.bg-image{
    background-position: center top;
    background-size: cover;
}

.heigth-auto .row {
    display: flex;
    flex-wrap: wrap;
}

#capitulos  hr{
    padding: 0px;
    margin: 10px 0px;
    opacity: .5;

}

@media (max-width: 1100px){

    .prime-t-row .col-md-7{
        width: 100% !important;
    }

    .prime-t-row .col-md-5{
        width: 100% !important;
    }

    .prime-t-row .col-md-9{
        width: 100% !important;
    }

    .prime-t-row .col-md-3{
        width: 100% !important;
    }

    .prime-t-row .wid-50 .col-md-12{
        width: 50% !important;
    }

}


/* ============ Section galeria ============== */

.section-galeria{
    background-color: #000000;
    color: #ffffff;
    margin: 0px 0px 24px 0px;
    max-width: 100% !important;
    display: block;
}

.section-galeria .container-fluid{
    padding: 0px;
}

.section-galeria .title{
    padding: 24px 24px 0px 24px;
}

.section-galeria .images .row,
.section-galeria .images .col-md-12,
.section-galeria .images .col-md-5,
.section-galeria .images .col-md-7,
.section-galeria .images .col-md-6 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.section-galeria .images a:hover{
    opacity: .8;
}

.section-galeria .images .img-big{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.section-galeria .images .img-medium{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.section-galeria .images .img-small{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.section-galeria .description{
    padding: 40px 30px 20px 30px;
}

.section-galeria .description h4{
    margin: 0px 0px 20px 0px;
    font-size: 14px;
    line-height: 22px;
}

@media (max-width: 1100px){

    .section-galeria .images .img-big{
        height: 300px;
    }
    
    .section-galeria .images .img-medium{
        height: 200px;
    }
    
    .section-galeria .images .img-small{
        height: 100px;
    }


}

@media (max-width: 992px){

    .section-galeria{
        margin: 0px 0px 15px 0px;
    }

    .section-galeria .title{
        padding: 20px;
    }

    .section-galeria .images .img-big{
        height: 250px;
    }

    .section-galeria .images .img-medium{
        height: 240px;
    }
    
    .section-galeria .images .img-small{
        height: 120px;
    }

    .section-galeria .description{
        padding: 30px 20px 20px 20px;
    }


}


/* =========== Card videos =========== */

.card-video{
    height: 690px;
}

.heigh-visto {
    height: 690px;
}

@media (max-width: 1100px){

    .card-video{
        height: 100%;
    }
    
    .heigh-visto {
        height: 100%;
    }

}


/* ============ Newsletter ============== */

.section-newsletter{
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.section-newsletter img{
    width: 100%;
}



.section-newsletter select{
    width: 100%;
    background-color: #F0F0F0;
    color:#000000;
    border-radius: 5px;
    border-top: none;
    border: none;
    margin: 0px 0px 20px 0px;
    font-family: 'Poppins', sans-serif;
}

.section-newsletter .tab a{
    font-size: 16px;
    margin: 0px 0px 0px 12px;
    color: #000000;
}


.section-newsletter hr{
    padding: 0px;
    margin: 10px 0px 15px 0px;
}


.section-newsletter .form-group select{
    font-size: 16px;
    height: 45px;
}

.section-newsletter .items-horiz{
    display: flex;
    margin: 0px 0px 20px 0px;
}

.section-newsletter .items-horiz img{
    margin: 0px 20px 0px 0px;
    height: 60px;
    width: auto;
}

.section-newsletter .btn-line{
    border: 2px solid #000000 !important;
    color: #000000 !important;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0px;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin: 20px 0px 20px 0px;
}

.section-newsletter .btn-line:hover{
    border: 2px solid #000000;
    color: #ffffff !important;
    background-color: #000000;
}

@media (max-width: 1200px){

    .section-newsletter .items-horiz h5{
        font-size: 18px;
        line-height: 22px;
    }

}

@media (max-width: 992px){

    .section-newsletter{
        margin-bottom: 15px;
    }

    .section-newsletter .items-horiz{
        display: flex;
        margin: 0px 0px 20px 0px;
        border-bottom: 1px solid #DADADA;
        padding-bottom: 20px;
    }

    .section-newsletter .items-horiz img{
        margin: 0px 20px 0px 0px;
        height: 64px;
        width: auto;
    }
    
    .section-newsletter .items-horiz h5{
        margin: 0px 0px 0px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

}

@media (max-width: 768px){

    .section-newsletter .btn-line{
        height: 50px;
        width: 100%;
        font-size: 18px;
        padding-top: 10px;
    }

}

.page-404 {
    padding: 70px 0px;
    text-align: center;

}

.page-404 h1{
    font-size: 60px;

}


/* ========== Print ======= */

.print-sec .controls {
    text-align: right !important;
    padding-top: 10px;
}

.print-sec .controls a:focus{
    outline: none;
}

/* ========== img ic video ======= */

.img-video{
    position: relative;
}

.ic-play {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    top: 12px;
    right: 12px;
}

@media (max-width: 600px){

    .ic-play {
        width: 25px !important;
        height: 25px !important;
        top: 16px;
        right: 16px;
    }

}