
/* ============  Ver mas ============= */

.title-ver-mas .breadcrumb{
    padding-left: 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #C4C4C4;
    display: inline-block;
    border-radius: 0px;
    font-weight: 600;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.title-ver-mas .breadcrumb a{
    opacity: .5;
    font-weight: 300;
}

.title-ver-mas .breadcrumb .active{
    border-bottom: 3px solid #5918BA;
    padding-bottom: 10px;
    color: #000000;
    opacity: 1;
}

.sec-ver-mas  hr{
    padding: 0px;
    margin: 10px 0px 50px 0px;
    border: 1px solid #C4C4C4;
    opacity: .4;
}

.sec-ver-mas  .card-item{
    margin: 0px 0px 20px 0px;
    display: flex;
}

.sec-ver-mas  .card-item{
    margin: 0px 0px 20px 0px;
    display: flex;
}

.sec-ver-mas  .card-item a:hover{
    color: #000000;
    opacity: .6;
}

.sec-ver-mas  .card-item img{
    height: 150px;
    width: auto;
    margin: 0px 20px 20px 100px;
}

@media (max-width: 1100px){

    .sec-ver-mas  .card-item img{
        width: auto;
        margin: 0px 20px 20px 0px;
    }

}

@media (max-width: 550px){

    .sec-ver-mas  .card-item img{
        height: 120px;
        margin: 0px 20px 20px 0px;
    }

}